# Exemplo de variáveis locais (não usado diretamente pelo GAS)
DB_HOST=easy.gptgov.com.br
DB_PORT=5432
DB_NAME=hfb_leitos
DB_USER=postgres
DB_PASSWORD=114211Jo@
DB_USE_SSL=false
URL_CONEXAO_EXTERNA=postgres://postgres:114211Jo@@easy.gptgov.com.br:5432/hfb_leitos?sslmode=disable

# Variáveis do N8N
N8N_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3M2FjYTM2Yi04MmQ3LTQ0ZTAtYTUxMS0yMWU5MjliZTQ1OTQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzczOTMyOTc3fQ.duBS_KLEh9K4IwCjlAOMCYNaZNljgk4iFEUMS-80KuU
N8N_SERVER=https://n8n-n8n.yg64ke.easypanel.host/mcp-server/http
